*{
    padding: 0;
    margin: 0;
}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    margin: 30px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.header h2 {
    font-family: 'Press Start 2P', monospace;
    font-size: 1rem;
    color: rgb(0, 250, 75);
}

.calculatorBody{
    padding: 20px 0px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.display{
    text-align: right;
    padding: 5px;
    width: 80%;
    background-color: rgb(204, 255, 204);
    height: 3.5rem;
    font-family: 'Orbitron', sans-serif;
    line-height: 1rem;
}

.numbers{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.num{
    padding: 5px 20px;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: 1px solid gray;
}

.num:active {
    background-color: darkgrey;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }